<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Home Page Member</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

<body>
<div id="form">
  <div class="container">
                
                <h2 class="text-uppercase text-center"> Welcome to Classified Application</h2>
                
                <div class="inner">
                    <button type="submit" class="button login__submit" onclick="window.location.href = 'addAd';" />Create New Ads</button>
                </div>
                <div class="inner">
                    <button type="submit" class="button login__submit" ><a href="/member/viewads">View My Ads</a>
                        </button>
                </div>
                <div class="inner">
                    <button type="submit" class="button login__submit" onclick="window.location.href = 'deleteall';" />Delete all Ads</button>
                </div>
                <div class="inner">
                    <button type="submit" class="button login__submit" onclick="window.location.href = 'deleteaccount';"  />Delete Account</button>
                </div>
                <div class="inner">
                    <button type="submit" class="button login__submit" onclick="window.location.href = 'updateprofile';"  />Update Profile</button>
                </div>
                <div class="inner">
                    <button type="submit" class="button login__submit"/><a href="/member/updatepassword">  Update Password</a> </button>
                </div>
                <div class="inner">
                    <button class="button login__submit" onclick="window.location.href = 'logout';" >Logout</button>
                </button>

        </div>
        </div>
        </div>
        </div>


        </body>
        <style>
            .inner
{
    display: inline-block;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
        .login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 90%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}
body{
    background-color: aquamarine;
}
        </style>
        </html>
